body,
html,
ul,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;

  --yellow: #ecd018;
  --darkBlue: #253149;
  --blue: #4167a6;
  --green: #4ca07e;
  --footerBlue: #335081;
  --singlePostFooter: #1c2638;
  --outlineGrey: rgba(255, 255, 255, 0.1);

  --sidebarWidth: 322px;
}

::selection {
  background: #00fa9a;
  color: white;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Raleway", Helvetica, sans-serif;
  color: white;
}

ul {
  list-style-type: none;
}

p {
  font-size: 0.9rem;
  line-height: 2rem;
  color: #ccc;
  font-weight: 400;
  margin: 1.5rem 0;
}

h2 {
  font-size: 1.1rem;
  margin: 1rem 0;
}

a {
  color: #ccc;
  text-decoration: none;
}

button a {
  color: white;
  display: block;
  width: 100%;
}

@media (max-width: 1400px) {
  html {
    font-size: 13px;
  }
}

@media (max-width: 600px) {
  html {
    font-size: 12px;
  }
}
